@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/font.otf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'CustomFont', sans-serif;
}

body, html {
    height: 100%;
}

body {
    background-image: url('../sprites/bg2.png');
    background-size: cover;
    display: flex;
    justify-content: center; /* Центрирование по оси X */
    align-items: center; /* Центрирование по оси Y */
    flex-direction: column;
    animation: fadeIn 0.5s ease; /* Анимация для фона */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.title {
    position: absolute;
    top: 15px;
    text-align: center;
    width: 100%;
    font-size: 24px;
    color: white;
    opacity: 0;
    animation: fadeInTitle 2s ease-in-out forwards;
}

@keyframes fadeInTitle {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Стили для контейнера настроек */
.settings-container {
    margin-top: 100px;
    text-align: center;
    color: white;
    opacity: 0;
    animation: fadeInContainer 1s ease-in-out forwards;
}

@keyframes fadeInContainer {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Стили для отдельных настроек */
.setting {
    margin: 15px 0;
    opacity: 0;
    animation: fadeInSetting 0.5s ease-in-out forwards;
}

@keyframes fadeInSetting {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Поля ввода и выпадающие списки */
input[type="text"],
input[type="number"],
select {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
}

input[type="number"] {
    width: 100px;
}

input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

select:hover,
input[type="text"]:hover,
input[type="number"]:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

/* Кнопка назад */
.back-button {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 10;
}

.back-button img {
    width: 100%;
    height: 100%;
}

.back-button:hover {
    transform: scale(1.1);
}