/* BuildSettingsMenu */

.BuildSettingsMenu-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px; /* Ширина панели */
    height: 600px; /* Высота панели */
    background-image: linear-gradient(90deg, rgb(102, 96, 103), rgb(133, 121, 145));
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transform: translate(-50%, -50%); /* Центрирование панели */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Добавление тени */
    border-radius: 20px; /* Закругленные углы */
}

.close-BuildSettingsMenu {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 10;
    background: none;
    border: none;
    padding: 0;
    animation: fadeInTitle 2s ease-in-out forwards;
}

.close-BuildSettingsMenu img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.close-BuildSettingsMenu:hover {
    transform: scale(1.1);
}

.BuildSettingsMenu-content {
    text-align: center;
}

.titleBuildSettingsMenu {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    animation: fadeInTitle 1s ease-in-out;
}

.text-input-BuildSettingsMenu {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; /* Горизонтальное центрирование текста */
    line-height: 20px; /* Вертикальное выравнивание для ровности */
    transition: border-color 0.3s, box-shadow 0.3s;
}

.text-input-BuildSettingsMenu:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    outline: none;
}

.save-json-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-image: linear-gradient(45deg, #1f2937, #293647, #233043);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.save-json-button:hover {
    background-image: linear-gradient(45deg, #1f2937, #293647, #233043);
}
