body {
    display: flex;
    background-image: linear-gradient(90deg, white, #93879D);
    color: white;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    transition: background 0.3s ease, color 0.3s ease;
}
