@font-face {
    font-family: 'CustomFont';
    src: url('../../fonts/ofont.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'CustomFont', sans-serif;
}

body, html {
    height: 100%;
}

body {
    background-image: url('../../sprites/bg2.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

@keyframes fadeInTitle {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Анимация для плавного появления объектов */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Стиль для кнопки назад с анимацией */
.back-button {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 10;
    opacity: 0; /* Начальное состояние с нулевой прозрачностью */
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.2s; /* Задержка появления кнопки назад */
}

.back-button img {
    width: 100%;
    height: 100%;
}

.back-button:hover {
    transform: scale(1.1);
}

.button {
    width: 225px;
    height: 50px;
    background-color: #181818;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation-delay: 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button1 {
    top: 75px;
}

.button2 {
    top: 145px;
}

.button3 {
    top: 215px;
}

.button4 {
    top: 285px;
}

.run {
    width: 125px;
    position: absolute;
    bottom: 0;
}

.run img {
    width: 100%;
    height: 100%;
}

.run:hover {
    transform: scale(1.1);
}

.text {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.button:hover {
    background-color: #303030;
    transition: 0.3s;
}